---
title: ""
description: ""
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title %}{{title}} | {% endif %}Home Assistant SkyConnect</title>
    <meta
      property="og:title"
      content="{% if title %}{{title}} | {% endif %}Home Assistant SkyConnect"
    />
    <meta property="og:site_name" content="Home Assistant SkyConnect" />
    <meta property="og:url" content="https://skyconnect.home-assistant.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:site" content="@home_assistant" />
    <meta name="twitter:title" content="Home Assistant SkyConnect" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="icon"
      type="image/png"
      href="/static/favicon.png"
    />
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="nav-bar">
        <a href="/">
          <img src="https://brands.home-assistant.io/homeassistant/logo.png">
          <h1 class="nav-title">Home Assistant SkyConnect</h1>
        </a>
      </div>
    </div>

    <div class="container content">
      {{ content }}
    </div>

    <div class="container">
      <div class="footer">
          <a href="https://www.home-assistant.io" target="_blank">
            Home Assistant Website
          </a>
          <span class="serperator">–</span>
          <a class="edit-on-github" title="Edit this page on GitHub" href="https://github.com/home-assistant/skyconnect.home-assistant.io/tree/main/{{page.inputPath | remove_first: './'}}" target="_blank">
            Edit this page on GitHub
        </a>
      </div>
    </div>
  </body>
</html>